@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}



body{
    background: #f5f5f5;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #9249af, #5f2c82);
    padding: 80px 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    position: relative;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .logo{
    font-weight: 700;
    font-size: 25px;
    color:#ffffff;
}

/* NAVBAR */
.menu .navbar ul{
    display: flex;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 15px 20px;
    color: white;
    transition: 0.3s;
}

.menu .navbar ul li a:hover{
    color: #0eaeff;
}

/* ICONO MENU */
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* HEADER CONTENT */
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
    animation: fadeIn 1.5s ease;
}

/* TEXTO */
.content h1{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

.content p{
    font-size: 16px;
    color: #dcdcdc;
    margin-bottom: 20px;
}

/* BOTON */
.btn{
    display: inline-block;
    padding: 12px 25px;
    background: #0eaeff;
    color: white;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover{
    background: #0077b6;
    transform: scale(1.05);
}

/* IMAGEN */
.header-content img{
    width: 400px;
    max-width: 100%;
    animation: float 3s ease-in-out infinite;
}

/* ANIMACIONES */
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float{
    0%{ transform: translateY(0px);}
    50%{ transform: translateY(-10px);}
    100%{ transform: translateY(0px);}
}

/* RESPONSIVE */
@media(max-width: 768px){

    .menu label{
        display: block;
    }

    .menu .navbar{
        position: absolute;
        top: 60px;  
        left: 0;
        right: 0;
        background: #9249af;
        display: none;
        text-align: center;
    }

    .menu .navbar ul{
        flex-direction: column;
    }

    #menu:checked ~ .navbar{
        display: block;
    }

    .header-content{
        flex-direction: column;
        text-align: center;
    }

    .header-content img{
        width: 250px;
    }
    
}

.hero{
    background:linear-gradient(135deg, #9249af, #5f2c82);
    padding: 40px 10px;
    text-align: center;
    
}
.hero h1{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

.hero p{
    font-size: 16px;
    color: #dcdcdc;
    margin-bottom: 20px;
}

/* CSS PARA LOS EJEMPLOS*/
.ejemplo{
    background: #dcdcdc;

}
.mal{
    border-top: 5px solid #ff4d4d;
}

.mal h2{
    color: #ff0000;
    text-align: center;
}     

pre {
  background-color: #cb9eff; 
  padding: 15px;
  width: 50%;                
  max-width: 600px;          
  margin: 0 auto;            
  border-radius: 5px;
  align-items: center;
  justify-content: center;  

}   


.bien{
    border-top: 5px solid #00c853;
}

.bien h2{
    color: #00c853;
    text-align: center;
}

/* CSS PARA LOS ERRORES*/

.cabezaErrores{
    background:linear-gradient(135deg, #9249af, #5f2c82);
    padding: 40px 10px;
    text-align: center;
}
.cabezaErrores h1{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}
.cabezaErrores p{
    font-size: 16px;
    color: #dcdcdc;
    margin-bottom: 20px;
}

.error1{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-top: 5px solid #ff4d4d;
}